body{
  background-image: url('dboguers9f2aymbpthzy 1.png');
  background-repeat: no-repeat;
}

h1.nom{
  font-weight: 700;
}


.myButton {
	box-shadow:inset 0px 0px 15px 3px #000000;
	background:linear-gradient(to bottom, #574e57 5%, #000000 100%);
	background-color:#574e57;
	border-radius:17px;
	border:1px solid #736373;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #574e57 100%);
	background-color:#000000;
}
.myButton:active {
	position:relative;
	top:1px;
}

html,body {
  height: 100%;
}

h4 {
    display: flex;
    flex-direction: row;
}

h4:before, h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
}

.bar {
  border: 1px solid black;
}

.space{
padding: 0 10px 0 10px;
}
